.body {
  height: 950px;
  width: 1366px;
  background-color: #f9f9f9;
}

/*HEADER*/
.box {
  width: 1060px;
  height: 950px;
  margin: 0px 140px 0px 140px;
  background-color: white;
}

.logo {
  padding: 50px 0px 40px 40px;
}


.header {
  height: 40px;
  margin: 0px 40px 0px 40px;
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
  background-color: #535353;
  font: Arial;
}

.headerli {
  float: left;
}

.headerli a {
  display: block;
  color: #e5e5e5;
  text-align: center;
  padding: 14px 43px;
  text-decoration: none;
  border: 1px solid #535353;
  transition: 0.5s background-color;
}

.header a:hover {
  background-color: #454545;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;

}

/*SIDEBAR*/

.column {
  float:left;
  margin-top: 40px;
  margin-left: 40px;
  width: 275px;
  border: 1px solid #c8c8c8;

}

.sideb {
text-align: justify;
padding: 14px 40px 14px 0px;
border-bottom: 1px solid #c8c8c8;
}

.sideb:last-child {
    border-bottom: none;
}

.sideb a {
  margin-left: 0px;
  color: #7a7878;
  text-align: center;
  padding: 14px 43px;
  text-decoration: none;

}

.sideb:hover {
  text-indent: 20px;
  background-color: #f9f9f9;
  color: #2c2c2c;
  transition: 0.3s background-color;
}
.sideb:hover a {
  color: #2c2c2c;
}

/*CONTENT*/

.img {
  padding: 40px 80px 40px 80px;
  margin: 40px 40px 40px 360px;
  border: 1px solid #c8c8c8;
}

.text {
  padding: 0px 50px 40px 370px;

}

/*FOOTER*/

.footer {
  height: 40px;
  margin: 0px 40px 0px 40px;
  list-style-type: none;
  overflow: hidden;
  background-color: #e1e1e1;
}

.footerli {
float: left;
}

.footer a {
  text-decoration: none;
  display: block;
  color: #2c2c2c;
  text-align: center;
  padding: 14px 43px;
}

.footerli:hover a {
  color: #2c2c2c;
  text-decoration: underline;
}


.copy {
text-align: center;
margin: 14px 0px 0px 750px;
}
